body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

header h3, .Title-input h3, .question-body h4, .article-body h4 {
  background-color: #ffebcc;
  margin-top: 0;
  padding: 10px;
  margin-bottom: 15px;
  font-size: larger;
  color: #2c3e50;
  text-align: center;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

header p {
  margin: 0 10px;
  color: #34495e;
}

header label {
  font-size: larger;
  color: #8e44ad;
}

header input {
  margin-left: 10px;
  border: 1px solid #2980b9;
  border-radius: 4px;
  padding: 5px;
}

.Title-input div {
  display: flex;
  align-items: center;
}

.Title-input input {
  width: 90%;
  height: 30px;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 4px;
}

.Title-input div h4 {
  margin: 0 10px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
}

.question-body textarea {
  width: 95%;
  height: 500px;
  border: 1px solid #1abc9c;
  border-radius: 4px;
  padding: 10px;
}

.tag {
  display: flex;
  align-items: center;
}

.tag input {
  margin: 20px;
  width: 90%;
  padding: 10px;
  border: 1px solid #27ae60;
  border-radius: 4px;
}

.question-body {
  margin-left: 10px;
}

.article-body, .tag {
  margin-left: 10px;
}

.article-body h4, .question-body h4 {
  margin-bottom: 5px;
  color: #8e44ad;
  text-align: center;
}

.article-abstract textarea {
  width: 95%;
  height: 100px;
  border: 1px solid #8e44ad;
  border-radius: 4px;
  padding: 10px;
}

.article-text textarea {
  width: 95%;
  height: 350px;
  border: 1px solid #2c3e50;
  border-radius: 4px;
  padding: 10px;
}

.post-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.post-button button {
  padding: 15px 30px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}
